.modal-custom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.custom-modal-content {
    box-sizing: border-box;
    max-height: 90vh;
    max-height: 90svh;
    max-width: 45rem;
    width: 90vw;
    background-color: white;
    overflow: scroll;
    border-radius: 1rem;
}

.modal-completed {
    max-width: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.background-none {
    background: none;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-400 {
    font-weight: 400;
}

.light-green {
    color: hsl(176, 50%, 47%);
}

.light-gray {
    color: hsl(0, 0%, 48%);
}

.biggest {
    font-size: 1.6rem;
}

.bigger {
    font-size: 1.05rem;
}

@media (min-width:40rem) {
    .custom-modal-content {
        max-height: 75svh;
        max-height: 75vh;
    }
}

.form-check .form-check-input {
    margin-left: 0;
}

@media (min-width: 40rem) {
    .form-check .form-check-input {
        margin-left: -1.5rem;
    }
}